@import './style.css';
@import './notyf.min.css';
@import './pretty-checkbox.min.css';

.pretty.p-default input:checked~.state label:after {
    background-color: #23516d!important;
}

.notyf__toast {
  max-width: 500px;
}

.notyf__message {
  font-size: 17px;
}

.checkbox-list {
  display: flex;
  font-size: 25px;
  color: #305d8a;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

#console {
  display: flex;
  flex-direction: row;
}

.symbol {
  color: #305d8a;
  margin-right: 10px;
}

#search {
  position: relative;
}

.field {
  text-decoration: none;
}

#game-list {
  position: absolute;
  right: 0;
  top: 80;
  font-size: 20px;
  background-color: #212d3d;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

 #game-list.visible {
  opacity: 1;
  visibility: visible;
}

.result {
  height: 45px;
  color:#617890;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.not-found {
  padding-left: 10px;
  padding-right: 10px;
  cursor: default;
}

.result:hover:not(.not-found), .result:focus:not(.not-found) {
  background-color: #1c4056;
  outline: none;
}

.loading {
  background: linear-gradient(90deg, rgba(0,0,0,0) 30%, rgba(35, 81, 109, 0.5) 50%, rgba(0,0,0,0) 70%);
  background-size: 200% auto;
  background-position: 100%;
  animation: background-swing 1s linear infinite;
}

@keyframes background-swing {
  0% { background-position: 150% 0; }
  100% { background-position: -50% 0; }
}

.game-img {
  width: 120px;
  height: 45px;
}

.game-name {
  display: flex;
  height: 100%;
  width: 100%;
}

.game-name > p {
  margin: auto 10px auto 10px;
}

#donation {
  font-size: 20px;
}

#donation > p {
  margin: 10px;
}

#donation span {
  color: #305d8a;
}