@font-face {
  font-family: 'Gotham Light';
  src: url('../font/GothamLight.ttf');
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #171a21;
  color: #b8b6b4;
  font-family: 'Gotham Light';
  font-size: 32px;
}

.flex-center {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: #6b6b6b;
}

[placeholder]:empty:focus::before {
  content: "";
}

p[contenteditable] {
  min-width: 5px;
  outline: 0;
}

a {
  color: #305d8a;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #305d8a;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.error-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both, error 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

#overlay.show {
  opacity: 1;
  visibility: visible;
}

#overlay.show ~ * {
  filter:blur(8px);	
}

#overlay.show > .spinner {
  animation: spin 1s linear infinite;
}

#overlay > p {
  font-size: 25px;
}

.spinner {
  border: 16px solid #23516d; /* Light grey */
  border-top: 16px solid #3a789d; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes error {
  50% { color: #883232; }
}
