html
    head
        title='creamapi-db'
        link(rel='stylesheet', href='/public/css/style.css')
        style.
            p {
                color: #305d8a;
                font-size: 40px;
            }
    body
        div(class='flex-center')
            p #{code} - #{message}