|[steam]
|appid = #{id}
|orgapi = steam_api_o.dll
|orgapi64 = steam_api64_o.dll
|extraprotection = false
|forceoffline = false
|[steam_misc]
|disableuserinterface = false
|[dlc]
each val in dlcs
    |
    |
    =val