# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]
    
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [19.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Install lib32gcc1
      run: sudo apt-get install lib32gcc1
    
    - name: Install node modules  
      run: npm ci
    
    - name: Install SteamCMD
      run: npm run install-steamcmd
    
    - name: Run tests
      run: npm test

    - name: Lint code
      run: npm run lint
